.gcviz-table {
    display: table;
    text-align: center;
    background-color: transparent;
    width: 500px;
    /*border-spacing: 0.5rem;*/
}

.gcviz-tbl-head {
    display: table-header-group;
    font-size: 80%;
    font-weight: bold;
}

.gcviz-tbl-row {
    display: table-row;
}

.row-head {
    background-color: rgb(230, 168, 149);
}

.row-select {
    background-color: rgba(143, 152, 40, 0.75);
}

.row-extent {
    background-color: rgb(153, 196, 205);
}

.col-min, .col-max, .col-delta {
    display: table-cell;
    width: 15%;
}

.col-nbrelm {
    display: table-cell;
    width: 25%;
}

.col-row-head {
    display: table-cell;
    font-size: 90%;
    font-weight: bold;
    width: 30%;
}

.gcviz-tbl-cell {display: table-cell; }
.gcviz-col      { display: table-column; }
.gcviz-tbody    { display: table-row-group; }
.gcviz-tfoot    { display: table-footer-group; }
.gcviz-colgroup { display: table-column-group; }
.gcviz-caption  { display: table-caption; }
